/*************************/
/* 	   Navigasjonsbar    */
/*************************/

#navbar-resp {
	padding: 0px;
	
}

/* Legg til blank bakgrunnsfarge på navigasjonsbar */
.navbar {
	background-color: #333;
	overflow: hidden;
	/*
	
	padding: 0;
	*/
}

/* Stilsett lenkene i navigasjonsbaren */
.nav-item {
	text-decoration: none;
	/*
	color: white;
	float: left;
	display: block;
	padding: 14px 16px;
	font-size: 18px;
	text-align: center;
	*/
	padding: 10px 5px;
}

.nav-link {
	color: white;
}

/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: green; 
}

/* Endre fargen på lenkene ved "hover" */
.nav-item:hover {
	background-color: #28E322;
	color: #ffffff;
}

.nav-link:hover {
	color: white;
}

/* Fremheve den aktive siden */
.nav-item.active {
	background-color: #0E9908;
}

/* footer */

.page-container {
	position: relative;
	min-height: 100vh;
}

.footer {
	background-color: #333;
	color: #ffffff;
	text-align: left;
	padding: 20px 30px;
	font-size: 0.8em;
	position: static;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.footer-li {
	list-style: none;
	padding-left:0;
	display: block;
}

.footer-link {
	color: #ffffff;
	margin-left: 5px;
}

.footer-links {
	padding-left: 0px;
}

.footer-link:hover {
	color: #ffffff;
	cursor: pointer;
}

/* Gjem lenken som skal være åpen og lukk navigasjonsbar på små skjermer 
.nav .icon {
	display: none;
}
*/
/* Dette skjer nå automatisk med boostrap */
/* Når skjermen er mindre enn 600 piksler bred, gjem alle lenker, unntatt den første ("Hjem") */
/*
@media screen and (max-width: 600px) {
	.nav a:not(:first-child) {display: none;}
	.nav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.nav.responsive {position: relative;}
	.nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
*/
/* Navigasjonsbaren er sterkt inspirert fra w3schools, og mye av koden
er lånt fra https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */


/*************************/
/*	Oppsett med Flexbox  */
/*************************/

/* Container for flexboxer */
.content {
	display: -webkit-flex;
	display: flex;
}

/* Lag tre ulike kolonner ved siden av hverandre */
.column {
	padding: 10px;
}

/* Venstre og høyre kolonne */
.column.side {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* Midtre kolonne */
.column.middle {
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
}

/* Flexbox-oppsettet er sterkt inspirert fra w3schools, og mye av koden
er lånt fra https://www.w3schools.com/css/tryit.asp?filename=trycss_template2_flexbox  */


/*************************/
/* 	  	  Innhold	     */
/*************************/

/* Overskrift */
#header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 7em;
    font-weight: bold;
	text-align: center;
	color: #FF00DD;
	-webkit-text-stroke: 3px #0058FF;

}

.page-header {
	color: green;
	margin: 30px auto;
}

/* Midtstilte elementer */
.center {
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Øvrig tekst */
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	color: #04276e;
	font-size: 1.2em;
}

/* Hovedbilde med frosk */
.splashpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
	height: 20em;
	object-fit: scale-down;
}

/* Musikknoter */
.note {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Knapp for å starte spill */
.button {
	background-color: #3DFF00;
	border-radius: 6px;
	border: 3px solid #FF00DD;
	color: white;
	padding: 12px 128px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-text-stroke: 1px black;
}

/* Fargebytteeffekt når musepekeren holdes over knappen */
.button:hover {
	background-color: #0058FF;
	color: #FFEF00;
	border: 3px solid #FF007E;
}


/*************************/
/* 		   Spill		 */
/*************************/

.section {
    width: 80%;
    margin: auto;
}

.game-section {
	max-width: 900px;
	margin: auto;
	}

canvas {
    border: 2px solid #04276e;
	width: 100%;
	max-width: 1000px;
	max-height: 500px;
	display: block;
	margin: auto;
}

/*
.coins {
    height: 10px;
    width: auto;
	visibility: hidden;
	padding: 5px;
}
*/

.game-button {
	padding: 10px 15px;
	margin: 20px 10px;
	background-color: #ffffff;
	border: solid 2px green;
	color: green;
	border-radius: 2px;
	cursor: pointer;
}

#start-btn {
	float: right;
}

/* Display hidden då desse er fullstendig gøymd */
.gameresources {
	display: none;
}

.statusbar {
	color: green;
	margin: 20px auto;
	
}

@media screen and (max-width: 600px) {
	.statusbar-item {
		font-size: 0.8rem;
	}
}

.statusbar-item {
	border-top: solid green 2px;
	border-bottom: solid green 2px;
	padding: 10px;
	text-align: center;
	margin: 0px 0px;
}

#score {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-left: solid green 2px;
}

#highscore {
	border-right: solid 2px green;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.life {
	margin: 0px 5px;
	color: red;
}


/*************************/
/* 	     High Score      */
/*************************/

#scoretable {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-collapse: collapse;
	width: 70%;
}

#scoretable td, #scoretable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#scoretable tr:nth-child(even){background-color: #f2f2f2;}

#scoretable tr:hover {background-color: #ddd;}

#scoretable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

/* Tabellen er sterkt inspirert fra w3schools, og mye av koden er lånt
fra https://www.w3schools.com/css/css_table.asp */


/*************************/
/* 	     Instruksjoner     */
/*************************/

.game-rules {
	padding: 20px;
	border: 2px dashed green;
}

/*************************/
/* 	     Kontaktsiden    */
/*************************/

.profile-img {
	background-image: url(images/frog-profile.jpg);
	background-position: center;
	height: 100px;
	display: block;	
	margin: 10px auto;
}

.section__div--rectangle {
	border: 2px solid green;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}