body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
    color: #04276e;
    
}

/* header */
.nav {
	background-color: #04276e;
	padding: 20px;
	text-align: right;
}

.nav__link {
	color: #ffffff;
	padding-right: 20px;
	text-decoration: none;
}

.header {
	margin: 0px;
    background-color: #04276e;
    padding: 30px 0px; 
}

.section {
    width: 80%;
    margin: auto;
}

.game-section {
	max-width: 900px;
	margin: auto;
	}

canvas {
    border: 2px solid #04276e;
	width: 100%;
	max-width: 1000px;
    height: 500px;
}

.coins {
    height: 10px;
    width: auto;
	visibility: hidden;
	padding: 5px;
}

/* Display hidden då desse er fullstendig gøymd */
.gameresources {
	display: none;
}

.button {
	padding: 10px 15px;
	margin: 20px 10px;
	background-color: #ffffff;
	border: solid 2px green;
	color: green;
	border-radius: 2px;
	cursor: pointer;
}


